<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="../style.css"/>
    
</head>
<body>
    <h3> all listings</h3>
    <form method="get" action="/listings/new">
        <button>create new</button>
    </form>
    <form action="/listings" method="GET">
        <label>filter by status:</label>
        <select name="status">
          <option value="">All</option>
          <option value="TODO">TODO</option>
          <option value="IN_PROGRESS">In Progress</option>
          <option value="COMPLETED">Completed</option>
        </select>
        <button> apply</button>
        </form>
    <%  for(let listing of alllistings) {%>
        
        <li> <a href="/listings/<%=listing.id  %>"> <%= listing.title %>  </li>
            
            <form style="display: inline-block;" method="post" action="/listings/<%=listing.id%>?_method=DELETE">
                <button> DELETE</button>
            </form>
        
        
        <% } %>
   
</body>
</html>